@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */

/* radial gradiant */
.bg-radial {
  background: radial-gradient(lightyellow, lightblue);
}

.glow-shadow {
  position: relative;
}

.glow-shadow::before {
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  z-index: -1;
  box-shadow: 0 0 20px rgba(0, 0, 255, 0.8);
}

@layer utilities {
  .glow-shadow {
    @apply shadow-2xl;
  }

  .section-min-height {
    min-height: calc(100vh - 4rem);
  }
}
